/* Custom styles for message reaction buttons */
.reaction-button {
  font-size: 0.875rem; /* text-sm */
  display: inline-block;
  color: black; /* text-black */
  cursor: pointer;
  margin: 0; /* m-0 */
  border: 0; /* border-0 */
  background-color: transparent; /* bg-transparent */
  padding: 0; /* p-0 */
}
