# Your Ably API key
VITE_ABLY_CHAT_API_KEY=

# Your environment, set to 'production' by default.
VITE_ABLY_CHAT_ENV=

# Optional if you're using a custom domain for Ably
#VITE_ABLY_HOST=my-personal-domain.ably-realtime.com
