@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.reactions-picker > a {
  display: inline-block;
  padding: 5px;
  margin-right: 2px;
  transition: all 100ms;
}

.reactions-picker > a:hover {
  scale: 1.5;
}

.reactions-picker > a:active {
  scale: 1.4;
  transform: rotate(7deg);
}

.sent-at-time > .short {
  display: inline;
}

.sent-at-time > .long {
  display: none;
}

.sent-at-time:hover > .long {
  display: inline;
}

.sent-at-time:hover > .short {
  display: none;
}
