@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: rgb(37 99 235);
}

a:hover {
  color: rgb(66, 126, 255);
  text-decoration: underline;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.chat-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.chat-window {
  height: 500px;
  min-height: max(100%, 500px);
  overflow-y: auto; /* Allows scroll the window when messages are added beyond the max height */
  padding: 1rem; /* Adds padding */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
}

.typing-indicator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.reactions-picker > a {
  display: inline-block;
  padding: 5px;
  margin-right: 2px;
  transition: all 100ms;
  text-decoration: none;
}

.reactions-picker > a:hover {
  scale: 1.5;
  text-decoration: none;
}

.reactions-picker > a:active {
  scale: 1.4;
  transform: rotate(7deg);
}

.sent-at-time > .short {
  display: inline;
}

.sent-at-time > .long {
  display: none;
}

.sent-at-time:hover > .long {
  display: inline;
}

.sent-at-time:hover > .short {
  display: none;
}

.chat-message .buttons {
  display: none;
}

.chat-message:hover .buttons {
  display: block;
}

.deleted-message {
  color: gray;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

select {
  color: black;
}
